{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block content %}
<div class="header">
	<h1>Hey, {{username}}!</h1>
</div>

<div id="queue" class='pull-left'>
	<h4> Your Queue </h4>
	<div id="readlist">
		{% for item in queue %}
			<p><a href="{{item['url']}}" target="_blank">{{item['title']}}</a> - {{item['readtime']}} min read.</p>
		{% endfor %}
	</div>
</div>

<div id="suggest-reads" class='pull-left' style="padding-left: 10px;">
	<h4> Suggest reads </h4>

	<p> I have <input id='input-minutes' maxlength="3" size="3"></input> minutes. <button id='btn-minutes' class='btn btn-default'>what should I read?</button></p>

	<div id='suggest-list'>

	</div>

	<script type="text/javascript">
		$(document).ready(function() {

			var inputTarget = "#input-minutes";
			var buttonTarget = "#btn-minutes";

			$(buttonTarget).click(function(e) {
				var minutes = $(inputTarget).val();
				$.get(
						"/suggest",
						{
							'minutes': minutes
						},
						function(returnedData) {
							$("#suggest-list").html(returnedData);
							return false;
						}
				);
				e.preventDefault();    
			});
		});
	</script>


</div>

{% endblock %}

